* {
    margin: 0;
    padding: 0px;
}

.landing_page {
    margin-top: 5%;
    align-content: center;
    color: #00328f;
}

b {
    color: #00328f;
}

h3 {
    color: #00328f;
}

body {
    margin-bottom: 50px;
}

.order {
    margin: 18px;
    line-height: 1.7;
    padding-inline: 5px;
}

.info_title {
    text-align: left;
    margin-left: 16px;
    color: #00328f;
}

h3 {
    margin-top: 25px;
}

.info {
    line-height: 22px;
    margin-left: 17px;
}

ol {
    margin-left: 23px;
    margin-bottom: 18px;
    line-height: 1.7;
}

.list-outer {
    display: flex;
    flex-flow: wrap;
}

.list-inner {
    flex-basis: 29%;
    padding: 1%;
    line-height: 1.7;
}  

.backround-outer {
    overflow: hidden;
    position: relative;
}

.backround-image {
    opacity: 0.25;
    position: fixed;
    width: 100%;
    height: auto;
}

.backround-display {
    position: relative;
}

h2 {
    text-align: center;
}

.page_title{
    color: #00328f
}

.alert {
    color: red;
}

.nav_bar {
    text-align: center;
    color: #00328f;
    padding: 25px;
    padding-top: 5px;
    border-bottom: 2px solid #00328f;
    background-color: #00328f25;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow:white;
    font-size: large;
}

.button {
    background-color:rgb(222, 232, 253);
    color: #00328f;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border-color:  #00328f;
    border-style: solid;
    margin: 4px;
}

.button:hover {
    color: white;
    background-color: #00328f;
    transition: 0.2s;
}

.button-small {
    background-color:rgb(222, 232, 253);
    color: #00328f;
    border-radius: 9px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border-color: #00328f;
    border-style: solid;
}

.button-small:hover {
    color: white;
    background-color: #00328f;
    transition: 0.2s;
}


.button-small-delete {
    background-color:white;
    color: red;
    border-radius: 9px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border-color: #00328f;
    border-style: solid;
}

.button-small-delete:hover {
    color: white;
    background-color: red;
    transition: 0.2s;
    border-color: red;
}

.button-outer{
    line-height: 1.7;
}

.button-outer-2{
    padding-left: 39px;
    line-height: 1.7;
}

.button-outer-3{
    padding-left: 22px;
}


.order_totals{
    border-bottom: 2px solid #00328f;
    border-top: 2px solid #00328f;
    position: relative;
    width: 581px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00328f;
    color: white;
    text-align: center;
}
