* {
    margin: 0;
    padding: 0px;
}

.order {
    margin: 18px;
}

.info_title {
    text-align: left;
    margin-left: 5px;
}


h3 {
    margin-top: 25px;
}

.info {
    line-height: 22px;
    margin-left: 17px;
}

ol {
    margin-left: 18px;
}

.list-outer {
    display: flex;
    flex-flow: wrap;
}

.list-inner {
    flex-basis: 25%;
    padding: 1%;
    line-height: 1.7;
}  

.backround-outer {
    overflow: hidden;
    position: relative;
}

.backround-image {
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: auto;
}

.backround-display {
    position: relative;
}

h2 {
    text-align: center;
}

.page_title{
    color: #003aa6
}

.alert {
    color: red;
}

.nav_bar {
    text-align: center;
    color: #003aa6;
    padding: 25px;
    padding-top: 5px;
    border-bottom: 4px solid #003aa6;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow:white;
}

.button {
    background-color:rgb(222, 232, 253);
    color: #003aa6;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border-color:  #003aa6;
    border-style: solid;
    margin: 4px;
}

.button:hover {
    color: white;
    background-color: #003aa6;
    transition: 0.2s;
}

.button-small {
    background-color:rgb(222, 232, 253);
    color: #003aa6;
    border-radius: 9px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border-color: #003aa6;
    border-style: solid;
}

.button-small:hover {
    color: white;
    background-color: #003aa6;
    transition: 0.2s;
}

.button-small-delete {
    background-color:white;
    color: red;
    border-radius: 9px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border-color: #003aa6;
    border-style: solid;
}

.button-small-delete:hover {
    color: white;
    background-color: red;
    transition: 0.2s;
    border-color: red;
}

.button-outer{
    line-height: 1.7;
    padding-inline: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003aa6;
    color: white;
    text-align: center;
}
