<!DOCTYPE html>
<html lang="en">

<div class="backround-outer">
<img class="backround-image" src="/static/img/7fDz98wgztPruvUCIACt--1--8lblo.jpg" alt="">
<div class="backround-display">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinner Drone</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
    <div class="nav_bar">
      <h1>Dinner-Drone™ Internal Order System</h1>
      <br>
        <div clas="button-outer">
        <nav> 
        <a class="button" href="/orders">Orders</a>
        <a class="button" href="/customer">Customers</a>
        <a class="button" href="/menu">Menu Items</a>
        <a class="button" href="/info">Info</a>
        </nav>
        </div>
    </div>
  <body>
  </body>
</html>

    {% block content %}

    {% endblock %}

</div>
</div>
  <footer>©This website and its materials are copyright of Drinner Drone incorperated, part of the Sky-Futures group</footer>