<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinner Drone</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <div class="nav_bar">
  <h1>Dinner Drone Internal Order System</h1>
  <br>
  <nav> 
    <a href="/order">Orders</a>
    <a href="/customer">Customers</a>
    <a href="/menu">Menu Items</a>
  </nav>
  </div>
  <body>
  </body>
</html>
    {% block content %}

    {% endblock %}