{% extends 'base.jinja' %}
{% block content %}
<h2>{{ title }}</h2>
<div class="button-outer">
<form action="/customer_add" method="post">

<label for="customer_name">Customer name:</label>
<input type="text" id="customer_name" required name="customer_name"> 

<label for="customer_phone">Customer phone number</label>
<input type="number" id="customer_phone" min=0 required name="customer_phone"> 

<label for="customer_address">Customer address:</label>
<input type="text" id="customer_address" required name="customer_address"> 

<button class="button-small" type="submit">Add Customer</button>
</form>
</div>

{% endblock %}