{% extends 'base.jinja' %}
{% block content %}
<h2>{{ title }}</h2>
<div class="remove">
<h2>{{ title_2 }}</h2>
</div>
<div class="button-outer">
<a class="button-small" href="/customer_add_entry">Add a new customer</a>
<br>
{% for customer in customers %}
            <br>
            <ol>
            <b>Customer Name:</b> {{ customer.name }}<br>
            <b>Customer Phone Number:</b> {{ customer.phone}}<br>          
            <b>Customer Address:</b> {{ customer.address}}<br>
            <b>Delete Customer:<a class="button-small-delete" href="/customer_delete_entry/{{customer.id}}/delete">Delete</a></b> 
            </ol>
            <br>
            <br>
{% endfor %}
</div>
{% endblock %}

