{% extends 'base.jinja' %}
{% block content %}
<h2 class="page_title">{{ title }}</h2>
<h2 class="info_title">Delivery fees:</h2>
<div class = "info">
<h3>Orders under 300g = £5</h3>(BRX 200 Light Delivery Drone)

<h3>Orders under between 300g and 799g = £9.99</h3>(BRX 450L Medium Delivery Drone)

<h3>Orders under between 800g to 1.5kg = £15.99</h3> (Sienar Drone Systems TI-E Heavy Delivery Drone)

<h3>Orders between 1.5kg to 2.5kg = £29.99</h3> (BAE 2000 LoiterStar Heavy Lift Unit), please speak to a supervisor to ensure heavy drone availabily!

<h3>Orders above 2.5kg cannot be ordered at this site, the option has been removed on the customer app and website, the system will alert you in order information if the order exceeds maximum weight.</h3>
<div>
{% endblock %}