{% extends 'base.jinja' %}
{% block content %}
<h2>{{ title }}</h2>

{% for order in orders %}
            <br>
            <li>
            <b>Customer::</b> {{ customer.name }}<br>
            <b>Price:</b> {{ flower.flower_price }}<br>
            <a href="/flower_edit">Edit</a><br>
            <b>Click here to delete this flower<a href="/flower/delete">Delete</a></b> 
            <br>
            <br>
            </li>
{% endfor %}
{% endblock %}