{% extends 'base.jinja' %}
{% block content %}
<h2 class="page_title">{{ title }}</h2>
<div class="order">
<form action="/menu_add" method="post">
        <label for="item_name"><b>Item name:</b></label>
        <input type="text" id="item_name" required name="item_name"><br>
        <label for="item_type"><b>Item type:</b></label>
        <select name="item_type" id="item_type" required name="item_type">
                <br>
                <option value="Starter">Starter</option>
                <option value="Main">Main</option>
                <option value="Dessert">Dessert</option>
                <option value="Drink">Drink</option>
                <option value="Fruit">Fruit</option>
        </select>
        <br>
        <label for="item_price"><b>Item price: £</b></label>
        <input type="number" min="0" value="0.00" step=".01" style="width: 45px;" id="item_price" required name="item_price"><br> 
        <label for="item_weight"><b>Item weight: (grams)</b></label>
        <input type="number" min="0" value="0.00" step=".01" style="width: 45px;" id="item_weight" required name="item_weight"><br> 
        <div class="button-outer">
        <button class="button-small" type="submit">Add Item</button>
        </div>
</div>
</form>
</div>
{% endblock %}