{% extends 'base.jinja' %}
{% block content %}
<h2 class="page_title">{{ title }}</h2>
<h2 class="alert">{{ title_2 }}</h2>
<div class="button-outer">
<a class="button-small" href="/order_add_form">Add a new order</a>
<br>
<br>
<b>Customer Name:</b> {{ order.customer.name }}<br>
<b>Customer Phone Number:</b> {{ order.customer.phone}}<br>          
<b>Customer Address:</b> {{ order.customer.address}}<br>
<b>Order Id:</b> {{ order.id}}<br>
<b>Order Date:</b> {{ order.order_date}}<br>
{% for order_item in order.order_items %}
<b>Item ordered:</b> {{ order_item.menu.item_name }}<br>
{% endfor %}
<b>Edit Order:<a class="button-small" href="/order_edit_entry/{{ order.id }}">Edit</a></b>
<br>
<b>Delete Order:<a class="button-small-delete" href="/order_delete_entry/{{ order.id }}/delete">Delete</a></b>
<br>
</ol>
<br>

</div>
{% endblock %}