{% extends 'base.jinja' %}
{% block content %}
<h2 class="page_title">{{ title }}</h2>
<div>
<h2 class="alert">{{ title_2 }}</h2>
<form action="/order_edit_entry_date/{{ order.id }}/submit" method="post">
<div class="button-outer">

<p class="order">
<label for="customer_id"><b>Customer name</b></label>
<input type= "text" disabled required name="customer_id" value="{{ order.customer.name }}" id="customer_id"> 
<br>    
<label for="customer_phone"><b>Customer phone number:</b></label>
<input type= "text" disabled required name="customer_phone" value="{{ order.customer.phone }}" id="customer_phone"> 
<br>
<label for="customer_address"><b>Customer address:</b></label>
<input type= "text" size="45" disabled required name="customer_address" value="{{ order.customer.address }}" id="customer_address"> 
<br>
<b>Order Id (locked): </b>{{ order.id}}
<br>
<label for="order_date"><b>Order date:</b></label> ({{ order.order_date}})
<input type="date" name="order_date" required id="order_date">
</p>

<p class="order">
<ol><b>Existing order items:</b><br> 
{% for order_item in order.order_items %}
<b>{{ order_item.menu.item_name }}</b> £{{ order_item.menu.item_price }}, ({{ order_item.menu.item_weight }}g) <br>
{% endfor %}
</ol>
</p>

<p class="order">
<b>Order total:</b> £{{ order.calculate_total() }}<br>
<b>Delivery fee:</b> £{{ order.delivery_fee() }}<br>
<b>Grand total:</b> £{{ order.calculate_g_total() }}<br>
<b>Order total weight:</b> {{ order.calculate_weight() }}g
</p>

<p class="order">
<ol><b>Enter any changes here:</b>
    {% for item in items %}
    <br>
    <input type="checkbox", id="item_{{ item.id }}", name="item_{{ item.id }}", value="item_{{ item.id }}">
    </b><label for="item_{{ item.id }}"><b>{{ item.item_name }}</b> £{{ item.item_price }}, ({{ item.item_weight }}g)</label>
    {% endfor %}
</p>

<b><button class="button-small" type="submit">Save Changes</button></b>

</form>
</ol>
</div>
{% endblock %}